* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed';
}

hr {
    min-width: 360px;
}

#top-nav {
    background-color: #57ba21;
    margin-top: 10px;
}

.logo-container {
    padding: 20px 20px;
    width: 50%;
    margin: 0 auto;
}

.logo-container img {
    width: 100%;
    margin: 0 auto;
}

.welcome-heading {
    font-weight: 600;
    line-height: 0.2;
}

#offer-box {
    background-color: #ececec;
    border-radius: 5px;
    padding: 3px;
}

#offer-box p {
    font-size: 0.9rem;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-weight: 650;
    color: #555555;
}

.red-text {
    color: #d70000;
    text-transform: uppercase;
    font-weight: 700;
}

#images {
    display: flex;
    justify-content: space-between;
}

#images a img {
    width: 80%;
}

#images a img:hover {
    width: 80%;
    transform: scale(1.2);
}

.congrats-text-div {
    text-align: center;
}

.hero-image-wrapper {
    width: 100%;
}

.hero-image-wrapper img {
    width: 100%;
}

.call-to-action {
    background-color: #ececec;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0px;
}

.call-to-action p {
    font-weight: 600;
    color: #555555;
    font-size: 80%;
}

.call-to-action button {
    font-weight: 600;
    color: white;
    background-color: #5d76aa;
    width: 100%;
}

.gift-png {
    width: 5%;
}

.arrow {
    height: 2px;
    width: 2px !important;
}

#footer {
    display: flex;
}

#footer img {
    width: 90%;
}

#footer p {
    font-size: 12px;
    font-weight: 700;
}

#bottom-section {
    background-color: #ececec;
    color: #555555;
    font-size: 10px;
    text-align: justify;
    position: absolute;
    bottom: 0;
}